$background-color-1: #fff;
$background-color-2: #000;

$color-1: #000;
$color-2: #fff;

$btn-border-1: #333;
$btn-border-hover-1: $color-2;
$btn-text-1: #888;

$bc-color-resize: #3c74ff;

$header-height: 100px;

$formula-height: 24px;
$info-cell-width: 40px;
$row-height: 24px;
$cell-width: 130px;
$db-header-height: 64px;

$border-color: #c0c0c0;
$theme-color-second: #ff0033;
