@import "_variables";

.excel__header {
	height: $header-height;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	.general {
		display: flex;
		flex-direction: column;

		.title {
			font-size: 40px;
			line-height: 42px;
		}
		.subtitle {
			margin-top: 4px;
			font-size: 12px;
			z-index: 101;
			filter: brightness(0.75);
			letter-spacing: 0.6px;
		}
		pointer-events: none;
		user-select: none;
	}

	.button__wrapper {
		height: 70%;
		display: flex;
		overflow: hidden;
		.button__column {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			height: 100%;
			width: 120px;

			.button__item {
				margin: 0 10px;
				padding: 4px 6px;
				border-radius: 3px;
				border: solid 1px $btn-border-1;
				span {
					text-align: center;
					font-size: 12px;
					color: $btn-text-1;
					transition: all 0.2s ease-in 0s;
				}
				cursor: pointer;
				user-select: none;

				transition: all 0.2s ease-in 0s;
				&:hover {
					border: solid 1px $btn-border-hover-1;
					span {
						color: $btn-border-hover-1;
					}
				}
			}
		}
		* {
			font-weight: 200;
		}
	}
}
