// @import "~normalize.css";

@import "_null";
@import "_font";

@import "header";
@import "table";

@import "_variables";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 12px;
	color: #ffffff;
	* {
		font-family: "Inter";
		font-weight: 400;
		font-style: normal;
	}
}

.excel {
	position: relative;

	display: flex;
	justify-content: center;
}

.excel__wrapper {
	position: relative;
	overflow: hidden;

	width: 100vw;
}
.container {
	background-color: $background-color-1;
	* {
		color: $color-1;
		z-index: 100;
	}
	margin: 0 auto;
	position: relative;
	@media (width <= 2560px) {
		max-width: 1800px;
	}
	@media (width <= 1920px) {
		max-width: 1536px;
	}
	@media (width <= 1650px) {
		max-width: 1320px;
	}
	@media (width <= 1400px) {
		max-width: 1140px;
	}
	@media (width <= 1200px) {
		max-width: 960px;
	}
	@media (width <= 992px) {
		max-width: 720px;
	}
	@media (width <= 768px) {
		max-width: 540px;
	}
	@media (width <= 576px) {
		max-width: auto;
	}

	&.excel__header {
		background-color: $background-color-2;
		* {
			color: $color-2;
		}
		&::before {
			content: "";
			position: absolute;
			z-index: 1;
			background-color: $background-color-2;

			width: 100vw;
			height: 100%;
			left: 50%;
			transform: translate(-50%);
			height: 100%;

			pointer-events: none;
		}
	}
}
