.excel__toolbar {
	width: 100%;
	height: $toolbar-height;
	top: 34px;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	padding: 7px 10px;
	display: flex;

	.button {
	}
}
